.DS_Store
.idea
*.iml
.envrc
.vscode

stembuild/out/
stembuild/stembuild
stembuild/stembuild.exe
stembuild/StemcellAutomation.zip
stembuild/LGPO.zip

# Stemcell Builder
packer_cache
packer-vmware-iso
tmp/
hotfixes.log
mkmf.log
scripts/win_iso
compiled-agent

# BWATS
bin
pkg

