[submodule "src/github.com/cloudfoundry-incubator/bosh-windows-acceptance-tests"]
	path = src/github.com/cloudfoundry-incubator/bosh-windows-acceptance-tests
	url = https://github.com/cloudfoundry-incubator/bosh-windows-acceptance-tests
